  #pnlTextAreas{
    max-width: 100%;
    background-color: white;
    resize: none;
}

#pnlHeaders{
    padding-bottom: 1%;
}

#buttons{
    padding-top: 1%;
} 

#pnlTxtPreview{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    max-width: 100%;
    background-color: papayawhip;
    color: black;
}
#inputContainer{
    width:100%;
}